// ==========================================================================
// AnjayCSS – Warna
// ==========================================================================

// Warna Konten
.merah{
    color:$merah;
}
.merahjambu{
    color:$merahjambu;
} 
.ungu{
    color:$ungu;
}
.nila{
    color:$nila;
} 
.biru{
    color:$biru;
}
.tosca{
    color:$tosca;
}
.hijau{
    color:$hijau;
}
.kuning{
    color:$kuning;
}
.oranye{
    color:$oranye;
}
.cokelat{
    color:$cokelat;
}
.abuabu{
    color:$abuabu;
} 
.hitam{
    color:$hitam;
}
.putih{
    color:$putih;
}

// Warna Background 
.bg-merah{
    background: $merah;
}
.bg-merahjambu{
    background: $merahjambu;
}
.bg-ungu{
    background: $ungu;
}
.bg-nila{
    background: $nila;
}
.bg-biru{
    background: $biru;
}
.bg-tosca{
    background: $tosca;
}
.bg-hijau{
    background: $hijau;
}
.bg-kuning{
    background: $kuning;
}
.bg-oranye{
    background: $oranye;
}
.bg-cokelat{
    background: $cokelat;
}
.bg-abuabu{
    background: $abuabu;
}
.bg-hitam{
    background: $hitam !important;
}
.bg-putih{
    background: $putih;
}