// ==========================================================================
// AnjayCSS – Grids
// ==========================================================================

// Kolom
.kolom-12{width: 100%;}
.kolom-11{width: 91.66%;}
.kolom-10{width: 83.33%;}
.kolom-9{width: 75%;}
.kolom-8{width: 66.66%;}
.kolom-7{width: 58.33%;}
.kolom-6{width: 50%;}
.kolom-5{width: 41.66%;}
.kolom-4{width: 33.33%;}
.kolom-3{width: 25%;}
.kolom-2{width: 16.66%;}
.kolom-1{width: 8.333%;}

// Kolom Dorong
.kolom-dorong-12{margin-left: 100%;}
.kolom-dorong-11{margin-left: 91.66%;}
.kolom-dorong-10{margin-left: 83.33%;}
.kolom-dorong-9{margin-left: 75%;}
.kolom-dorong-8{margin-left: 66.66%;}
.kolom-dorong-7{margin-left: 58.33%;}
.kolom-dorong-6{margin-left: 50%;}
.kolom-dorong-5{margin-left: 41.66%;}
.kolom-dorong-4{margin-left: 33.33%;}
.kolom-dorong-3{margin-left: 25%;}
.kolom-dorong-2{margin-left: 16.66%;}
.kolom-dorong-1{margin-left: 8.333%;}

//Baris
.baris{width:100%;display:inline-block;[class*='kolom-']{word-wrap:break-word;float: left;}}

//Wadah Penuh
.wadah-penuh{width:100%;display: inline-block;}

//Wadah
@media (max-width:$kecil){
	.wadah{width: 100%;}
}
@media(min-width:$kecil){
	.wadah{width: 560px;margin:auto;}
}
@media(min-width:$sedang){
	.wadah{width: 750px;margin:auto;}
}
@media(min-width:$besar){
	.wadah{width: 970px;margin:auto;}
}
@media(min-width:$sangatbesar){
	.wadah{width: 1170px;margin:auto;}
}