// ==========================================================================
// AnjayCSS – Gambar
// ==========================================================================

.gambar-responsif{
	width: 100%;
}
.gambar-bulat{
	border-radius:50%;
}
.gambar-tumpul{
	border-radius:15px;
}
.gambar-bingkai{
	border:1px solid #eee;
	border-radius:5px;
	padding:10px;
}