// ==========================================================================
// Base – Variables
// ==========================================================================

// Global Typography
$background-color:                         #fff !default;
$font-family:                              sans-serif !default;
$font-size:                                16px !default;
$line-height:                              22px !default;
$font-weight:                              400 !default;
$font-color:                               #000 !default;
$link-color:                               #000 !default;
$link-hover-color:                         #000 !default;

// Headings
$h1-font-size:	                           32px !default;
$h1-line-height:                           38px !default;
$h1-font-weight:                           700 !default;
$h2-font-size:	                           28px !default;
$h2-line-height:                           32px !default;
$h2-font-weight:                           700 !default;
$h3-font-size:	                           24px !default;
$h3-line-height:                           28px !default;
$h3-font-weight:                           700 !default;
$h4-font-size:	                           18px !default;
$h4-line-height:                           24px !default;
$h4-font-weight:                           700 !default;
$h5-font-size:	                           14px !default;
$h5-line-height:                           22px !default;
$h5-font-weight:                           700 !default;
$h6-font-size:	                           12px !default;
$h6-line-height:                           20px !default;
$h6-font-weight:                           700 !default;

// Code
$code-font-family:                         monospace, monospace !default;
$code-font-size:                           13px !default;
$code-line-height:                         18px !default;
$code-color:                               #000 !default;
$code-background-color:                    transparent !default;
$code-border-color:                        #d7d7d7 !default;

// Variabel Warna
$merah:										#f70202 !default;
$merahjambu: 								#e91e63 !default;
$ungu:										#9c27b0 !default;
$nila:										#3f51b5 !default;
$biru:										#2196f3 !default;
$tosca:										#009688 !default;
$hijau:										#4caf50 !default;
$kuning:									#ffeb3b !default;
$oranye:									#ff9800 !default;
$cokelat:									#795548 !default;
$abuabu:									#9e9e9e !default;
$hitam:										#000000 !default;
$putih:										#ffffff !default;

// Ukuran Lebar
$kecil:										576px !default;
$sedang:									768px !default;
$besar:										992px !default;
$sangatbesar:								1200px !default;